.carousel-control-next, .carousel-control-prev {
    /*size */
    height: 50px;
    width: 50px;
    /*color */
    background: #1b1b1b none repeat scroll 0 0;
    opacity: 0.5;
    /*shape border*/
    border: 0 none;
    border-radius: 50%; /*zero for square */
    /*symbol */
    color: #fff;
    line-height: 70px;
    /*vertical position */
    top: 45%;
}
